@import 'variables';

.calendar {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  padding: $padding;
  width: $calendar-width;

  &__day {
    width: $day-size;
    height: $day-size;
    background-color: #eee;
    border: $border solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 30px;
    transition: background-color $transition-duration, transform $transition-duration;

    &:hover {
      background-color: #ffbfcb;
      transform: translateY(-20px);
      cursor: pointer;
    }
  }
}

@for $i from 1 through 31 {
  .calendar__day:nth-child(#{$i})::before {
    content: '#{$i}';
  }
}

@each $day, $col in $start-days {
  .calendar--start-day-#{$day} {
    .calendar__day:nth-child(1) {
      margin-left: $col * ($day-size + $gap);
    }
  }
}

@for $len from 28 through 31 {
  .calendar--month-length-#{$len} {
    .calendar__day:nth-child(n + #{$len + 1}) {
      display: none;
    }
  }
}
